/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  display: block;
  background-image: url('./assets/fondoPantalla/fondo_5_online_shop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

.all-cards {
  color: aqua;
}
