.full-width-table {
  width: 100%;
  background-color: #0097A7;
}

.full-width{
  background-color:white;
}

.title{
  margin-top:15px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.paginator{
  background-color: #006064;
}

.button{
  margin: 30px;
 
}

.mat-raised-button{
 padding: 30px;
}

.textButton{
  margin-top: 10px;
  padding: 1px 1px 1px;
  color: black;
}
