.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

.infoMetodoPago{
    display: flex;
    margin: 100px 30px 0px 0px;
    height: 100px;
}

.cajitas{
    margin-right: 10px;
    margin-left: 10px;
}

.footer{
    display: flex;
    justify-content: center;
}