.example-spacer {
  flex: 1 1 auto;
}

.header {
    background-color: #27abb0;
    color: #fff;
}


.menu{
    background-color: cornflowerblue;
    color: #fff;
}

.icon-container  {
  margin-top: 10px;
  width: 20px; 
  /* Ajusta el tamaño según tus necesidades */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
