.full-width {
    width: 100%;
    height: 100%;
  }
  
  .shipping-card {
    min-width: 120px;
    margin: 20px auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }

  .imagen{
    width: 100px;
    height: 100px;
}

.file{
  margin-top: 10px;
  margin-bottom: 15px;
}